@charset "utf-8";
/* CSS Document */
body{
	font-family: Palatino, Helvetica, sans-serif ;
	background-color:#CCCCCC;
	margin-top: 40px;
	font-size:16px;
}
.webboardTable td{
	padding-left:8px;
}

h4.link {
	background: -webkit-linear-gradient(top, #878787, #000);
	background: linear-gradient(top, #878787, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
}

#search{
	color:#666666;
}

a:link{
	color:#FFFFCC;
	text-shadow: -1px 1px 3px #CCC;
	text-decoration:none;
}
a:visited {
	text-decoration:none;
	color:#FFFFCC;
}



/* ==================== Hover Action List ==================== */

a:hover {
	color:#666;
	text-decoration:none;
	text-shadow: 0px 2px 3px #666;
}
#imgSearch:hover{
	background:url(../images/search2.png);
	cursor:pointer;
}
.menu:hover{
	border-radius:4px;
	opacity: 0.5px;
	color:#FFFFFF;
	text-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 15px #333;
	box-shadow: 0px -3px 5px #4B4B4B inset;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.menuHome:hover{
	background: #CCC url(../images/icon_home2.png) no-repeat scroll 7px center;
}
.menuReg:hover{
	background: #CCC url(../images/register.png) no-repeat scroll 7px center;
}
.menuPro:hover{
	background: #CCC url(../images/product.png) no-repeat scroll 7px center;
}
.menuWeb:hover{
	background: #CCC url(../images/webboard.png) no-repeat scroll 7px center;
}
.menuFaq:hover{
	background: #CCC url(../images/faq2.png) no-repeat scroll 7px center;
}
.menuRep:hover{
	background: #CCC url(../images/report.png) no-repeat scroll 7px center;
}
.menuCon:hover{
	background: #CCC url(../images/contact2.png) no-repeat scroll 7px center;
}
#btnMain:hover {
	background-image:url(images/btn2.png);
}


.allpramool:hover{
	background: #CCC url(../images/allitem.gif) no-repeat scroll 1px center;
}
.newpramool:hover{
	background: #CCC url(../images/newitem.gif) no-repeat scroll 1px center;
}
.hotpramool:hover{
	background: #CCC url(../images/hotitem.gif) no-repeat scroll 1px center;
}
.nearpramool:hover{
	background: #CCC url(../images/closeitem.gif) no-repeat scroll 1px center;
}
.picpramool:hover{
	background: #CCC url(../images/picitem.gif) no-repeat scroll 1px center;
}
.closepramool:hover{
	background: #CCC url(../images/enditem.gif) no-repeat scroll 1px center;
}
.specialpramool:hover{
	background: #CCC url(../images/phone.gif) no-repeat scroll 1px center;
}


.button-link-black:hover{
	cursor: pointer;
	background: #222222;
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222222));
	background: -moz-linear-gradient(top,  #555,  #222222);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#555', endColorstr='#222222');
	
}
/* ==================== End Hover Action List ==================== */

a:active  {
	color:#333;
	text-shadow: 0px 2px 3px #666;
}
.button-link-black:active {
	color:#999999;
	background: #555;
	background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#555));
	background: -moz-linear-gradient(top,  #222222,  #555);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#555');
}

.button-link-black{
	font-size:14px;
	height: 23px;
	width:100px;
	color: #FFFFFF;
	text-shadow: 0px 0px 3px #000;
	border-radius:7px;
	border-bottom: 1px solid rgba(0,0,0,0.35);
	border: solid 1px #999;
	background: #222222;
	background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#222222));
	background: -moz-linear-gradient(top,  #AAA,  #222222);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAA', endColorstr='#222222');
}

input:focus{
	background:#CCF;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
input{
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#contenier{
margin:auto;
width:1024px;
height:auto;
background-color:#FFF;
border-radius:6px;
box-shadow: 0px 0px 5px 0px #000;
}

#contentBox{
	width : 1024px;
	/*height:auto;*/
	float:left;	
	margin : 5px 5px 5px 5px;
}
#contentCenter{
	min-width: 52%;
	margin-left: 5px; 
	background:#CCF;
	/*height:auto;*/
	float: inherit;
	padding:5px 5px 0px 5px;
}
#contentFull{
	min-width: 82.5%;
	margin-left: 5px; 
	background:#CCF;
	/*height:auto;*/
	float: inherit;
	padding:5px 5px 0px 5px;
}

.headerContent{
	height: 25px;
	padding-left:10px;
	padding-top:3px;
	border-radius: 5px 5px 0px 0px;
background: rgb(242,130,91); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 12%, rgba(240,170,103,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(242,130,91,1)), color-stop(12%,rgba(229,91,43,1)), color-stop(100%,rgba(240,170,103,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 12%,rgba(240,170,103,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 12%,rgba(240,170,103,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 12%,rgba(240,170,103,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 12%,rgba(240,170,103,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f0aa67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.headerCommentBlue{
	height: 25px;
	padding-left:10px;
	padding-top:3px;
	background-color:#A0A0A4;


}


.contentDetail{
	height: 420px;
	margin-bottom:5px;
	border-radius: 2px 2px 10px 10px;
	
background: rgb(235,233,249); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(242,231,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(235,233,249,1)), color-stop(50%,rgba(216,208,239,1)), color-stop(51%,rgba(206,199,236,1)), color-stop(100%,rgba(242,231,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(242,231,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(242,231,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(242,231,244,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(242,231,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#f2e7f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#contentFaq{
	height: auto;
	margin-bottom:5px;
	background: rgb(235,233,249); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(242,231,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(235,233,249,1)), color-stop(50%,rgba(216,208,239,1)), color-stop(51%,rgba(206,199,236,1)), color-stop(100%,rgba(242,231,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(242,231,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(242,231,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(242,231,244,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(242,231,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#f2e7f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/* ======== Content Left ======== */
#contentLeft{
	width : 15%;
	float:left;
	background:#CCC;
	height:250px;
	
}
#login{
	
}
#loginHead{
	padding-left:5px;
	border-radius: 10px 0px 20px 0px;
	background: rgb(125,185,232); /* Old browsers */
background: rgb(250,198,149); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 38%, rgba(237,127,49,1) 92%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,198,149,1)), color-stop(38%,rgba(245,171,102,1)), color-stop(92%,rgba(237,127,49,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(237,127,49,1) 92%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(237,127,49,1) 92%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(237,127,49,1) 92%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(237,127,49,1) 92%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ed7f31',GradientType=0 ); /* IE6-9 */


}
#loginContent{
	padding-left:2%;
}
/* ======== End Content Left ======== */
#contentRight{
	width : 30%;
	margin-right: 10px;
	background:#CCC;
	float:right;
	height:460px;
}

#head_content{
	size:80%;
	margin:auto;
	color:#FFF;
	width:1024px;
    height:72px;
	background:url(../images/Pamoon_02.png);
/*	font-size:25px ;	background-color:#09F;	padding:5px;

box-shadow: 0px 0px 10px 1px #000 inset;
	text-shadow: 1px 2px 2px rgba(70, 50, 0, 0.8);
	font-stretch:narrower;*/
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
#logohead{
	width:166px;
	height:72px;
	float:left;
	margin-left:12px;
	background:url(../images/Pamoon_01.png);
	border-radius:4px;
}

#headContentProduct{
	height:27px;
	padding-top:2px;
	padding-left:5px;
	border-radius: 10px 0px 20px 0px;
	
	background: rgb(125,185,232); /* Old browsers */
background: rgb(250,198,149); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 38%, rgba(237,127,49,1) 92%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,198,149,1)), color-stop(38%,rgba(245,171,102,1)), color-stop(92%,rgba(237,127,49,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(237,127,49,1) 92%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(237,127,49,1) 92%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(237,127,49,1) 92%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(237,127,49,1) 92%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ed7f31',GradientType=0 ); /* IE6-9 */

}

#menuBar{
	position:inherit;
	margin: 15px;
	width:auto;
	height:27px;
	float:left;
	color:#FFFFFF;
	margin-top:24px;
	padding-top:8px;
	padding-right:3px;
	border-radius:4px;
	box-shadow: 0px 0px 2px 0px #000;
	background:#333 url(../images/Pamoon_02.png);
}
/*====================== Menu ===========================*/
.menu{
	padding: 2px 2px 2px 30px;
	color:#000;
	border-radius: 4px;
    text-decoration:none;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.menuHome {
  margin-left:3px;
  color:#000;
  text-decoration:none;
  background: url(../images/icon_home.png) no-repeat scroll 7px center;
}

.menuReg{
  background: url(../images/register2.png) no-repeat scroll 7px center;
}

.menuPro{
  background: url(../images/product2.png) no-repeat scroll 7px center;
}

.menuWeb{
  background: url(../images/webboard2.png) no-repeat scroll 7px center;
}

.menuFaq{
  background: url(../images/faq.png) no-repeat scroll 7px center;
}


.menuRep{
  background: url(../images/report2.png) no-repeat scroll 7px center;
}

.menuCon{
  background: url(../images/contact.png) no-repeat scroll 7px center;
}


.allpramool{
	background: #CCC url(../images/allitem.gif) no-repeat scroll 1px center;
}
.newpramool{
	background: #CCC url(../images/newitem.gif) no-repeat scroll 1px center;
}
.hotpramool{
	background: #CCC url(../images/hotitem.gif) no-repeat scroll 1px center;
}
.nearpramool{
	background: #CCC url(../images/closeitem.gif) no-repeat scroll 1px center;
}
.picpramool{
	background: #CCC url(../images/picitem.gif) no-repeat scroll 1px center;
}
.closepramool{
	background: #CCC url(../images/enditem.gif) no-repeat scroll 1px center;
}
.specialpramool{
	background: #CCC url(../images/phone.gif) no-repeat scroll 1px center;
}
/*====================== End Menu ===========================*/
#btnMain{
	position: relative;
	float:right;
	top:50;
	margin-right:10px;
	width:100px;
	height: 43px;
	background-image:url(images/btn1.png);
}
#bar{
	height:36px;
	background-image:url(../images/Bar_11.png);	
}

#loginBox{
	
}

.content_detail{
	width:970px;
    height:auto;
	margin:0 0 10px 0;
	padding:5px;
	background-color:#FFF;
	border-radius:4px;
	box-shadow: 0px 0px 10px 1px #888 inset;	
	text-shadow: 0px 0px 1px 4a4b4c;
}
.head_title{
	margin: 10px 0 10px 0;
	width:250px;
	size:20%;
	color:#FFF;
	text-shadow: 1px 2px 2px #9FF;
/*	text-shadow: 
		//		 0 0 4px white, 
	    //     3px -3px 4px violet, 
		//   2px -7px 6px indigo,
		//  -2px -12px 11px blue, 
		//  2px -22px 18px green, 
	//	-2px -27px 25px yellow, 
	//	 2px -40px 33px orange, 
	//	    0px -80px 40px red;*/
}
li{
	float:left;
	width:10px;
	height:10px;
	margin-right:10px;
	background-color:#333;
	border-radius:4px;
	border-color:#03F;
	margin-left:15px;
	margin-top:5px;
	clear:both;
}
.foot{
	size:40%;
	color:#FFF;
	font-stretch:ultra-condensed;
	width:1024;
	clear:both;
    height:50px;

	background:url(../images/Pamoon_02.png);
	box-shadow: 0px 0px 10px 1px #888 inset;	
	border-radius:4px;
}
#comment{
	background-color:#FFF;
	width:auto;
	height:30px;
}

.accordionContent{

	color:#AAAAAA;
	text-shadow: 0px 0px 2px #2A0000;
}

.accordionContent h4{
	color:#D40000;
	background-color:#A0A0A4;
}

.ui-accordion-content-active
{
    padding: 0 !important;
    border-style: none;
    background-color: transparent;
    background-image: none;
}
.bg_cl{
	background: rgb(175,199,232); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(175,199,232,1) 20%, rgba(200,215,235,1) 20%, rgba(190,208,234,1) 80%, rgba(186,208,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(15%,rgba(175,199,232,1)), color-stop(20%,rgba(200,215,235,1)), color-stop(85%,rgba(190,208,234,1)), color-stop(100%,rgba(186,208,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(175,199,232,1) 15%,rgba(200,215,235,1) 20%,rgba(190,208,234,1) 80%,rgba(186,208,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(175,199,232,1) 20%,rgba(200,215,235,1) 20%,rgba(190,208,234,1) 80%,rgba(186,208,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(175,199,232,1) 20%,rgba(200,215,235,1) 20%,rgba(190,208,234,1) 80%,rgba(186,208,239,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(175,199,232,1) 20%,rgba(200,215,235,1) 20%,rgba(190,208,234,1) 80%,rgba(186,208,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afc7e8', endColorstr='#bad0ef',GradientType=1 ); /* IE6-9 */
padding:25px;

}