@charset "utf-8";
/* CSS Document */

#commentForm { width: 350px; }
#commentForm label { width: 250px; }
#commentForm label.error, #commentForm input.submit { margin-left: 253px; }
#signupForm { width: 845px; }
#signupForm label.error {
	margin-left: 10px;
	width: auto;
	color: red;
	display: inline;
}
#newsletter_topics label.error {
	display: none;
	margin-left: 103px;
}